@import url('https://entrusters.com/templates/yoo_moustache/css/theme.css');

.myachievements-box{
   background: linear-gradient(0deg,#1b1d25,#0a182e);
   padding-top: 130px;
   padding-bottom: 90px;
   padding-left: 15%;
   padding-right: 15%;
}

.myachievements-box .products-main {
  max-width:1200px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 80px;
  display:block;
}

.myachievements-box .products-wrap {
    /* background: #f2f2f2; */
    display: block;
    padding: 0;

}
.myachievements-box .products {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    max-width:100%;
  overflow:hidden;    
  padding: 0;
}
.myachievements-box .product {
    max-width: 100%;

    background: none repeat scroll 0 0 #fff;
    color: #444;
    border-radius:3px;
    display: block;
    height: 350px;
    line-height: 1.62;
    margin: 10px;
    padding:0px;
    text-align: center;
    text-decoration: none;
  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  -ms-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  border-radius: 3px;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .1);
  color: rgba(55, 70, 72, .8);
  text-align: center;
  cursor: pointer;
}
.myachievements-box .product:hover {
  webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none;
    box-shadow: 0 16px 25px -10px rgba(0, 0, 0, .15);
    cursor:pointer;
}
.myachievements-box .top-right-corner {
    position: relative;
    top: 0;
    right: 0px;
  padding:10px;
  background-color:#50D2C2;
  color:white;
  width: 150px;
  float:right;
}
.myachievements-box .product {
  flex-basis:23.6%;
  flex-grow:1;
  align-items: center;
}
.myachievements-box .product.w2 {
  flex-basis:38.19%;
  flex-grow: 1;
}
.myachievements-box .product.w3 {
  flex-basis: 61.8%;
  flex-grow: 1;
}
.myachievements-box .product-inner {
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  
}
.myachievements-box .product-inner > .taller {
  height:61.81%;
  display: flex;               /* establish flex container */
  align-items: center;
  justify-content: center;
}
.myachievements-box .product-inner > .shorter {
  height:38.19%;
    display: flex;               /* establish flex container */
  align-items: center;
  justify-content: center;
}
.myachievements-box .product-inner > .wider {
  width:61.81%;
  display: flex;               /* establish flex container */
  align-items: center;
  justify-content: center;
}
.myachievements-box .product-inner > .thinner {
  width:38.19%;
  height:100%;
      background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  background-color:white;
  margin:0px;
}
.myachievements-box .caption {
  position:relative;
  top:85%;
}
.myachievements-box .product.hero {
  flex-basis:100%;
  order:-1;
}

@media screen and (max-width:768px) {
  /* body {
    font-size:16px;
  }   */
  .myachievements-box .product {
    background: none repeat scroll 0 0 #fff;
    border-radius:3px;
    display: block;
    height: 200px;
    line-height: 150%;
    margin: 5px;
    /* padding:20px; */
    text-align: center;
    text-decoration: none;
}
}

/**
  * Color styles
*/
.tx--white {
  color: #fff;
}
.tx--gray {
  color: #444;
}
.bg--white {
  background-color: #ffffff;
}
.bg--pink {
  background-color: #f03d6c;
}
.bg--red {
  background-color: #f03d3d;
}
.bg--green {
  background-color: #50D2C2;
}
.bg--gray {
  background-color: #cccccc;
}
.bg--light-blue {
  background-color: #3ba9d9;
}
.bg--dark-blue {
  background-color: #333c4e;
}



.myachievements-box .overlay {
  position: relative;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  height: 0%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
  background-color: var(--bg-color) ;
}

.myachievements-box .product:hover .overlay {
  opacity: 0.4;
}

.myachievements-box .overlay-text {
  color: white;
  font-weight: 600;
  font-size: 22px;
  position: absolute;
  bottom: 0%;
  background-color: var(--bg-color);
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.myachievements-box .product > img {
  width: 100%;
  height: 100%;
}